$width:       1180px;
$padding:     10px;

$fwLight:     300;
$fwRegular:   400;
$fwMedium:    500;
$fwSemiBold:  600;
$fwBold:      700;

$ffTipperary: "Tipperary", Georgia, "Times New Roman", Times, serif;
$ffStagSans:  "Stag Sans", Georgia, "Times New Roman", Times, serif;
$ffEeClose:   Arial, Baskerville, monospace;
$ffStag:      "Stag", Georgia, "Times New Roman", Times, serif;

$cDark:         #3f536e;
$cGray:         #929292;
$cBlue:         #15507f;
$cBlueHover:    #0e3453;
$cBlueLight:    #3573A5;
$cLight:        #e1e4e6;
$cWhite:        #ffffff;
$cPink:         #A70050;
$cPinkHover:    #c1005c;
$cText:         #565656;
$cLightGray:    #e6eaff;
$cLightYellow:  #fff1cc;
$cHighLight:    #eee;

$bShadow:     0 0 0 1px rgba(49,49,93,.03), 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
$tShadow:     1px 1px 1px rgba(0,0,0,.3);

$iBorder:               #ddd;
$iColor:                #686868;
$cMenuMobileActiveBgr:  #f0f0f0;
$cMenuMobileItem:       #343433;
$cSuccessMessage:       #657E3C;
$bSuccessMessage:       #EDFDD3;
$cErrorMessage:         #ff0101;
$bErrorMessage:         #fdd3d3;
$cWarningMessage:       #956433;
$bWarningMessage:       #FFF7D6;
$bHasFocus:             #feffce;
$tableBgr:              #fafafa;
$bDialogFooter:         #f8f8f8;
$cAttention:            #bf210e;
$bPremiumCourse:        rgba(127, 73, 97, 0.1);
$bSilverCourse:         rgba(127, 73, 97, 0.1);
$borderPremium:         #7f4961;
$bSponsorCourse:        #e8eef2;
$borderSponsor:         #15507f;

