@import "../../../../style/options";

#new-course {
  font-family: $ffTipperary;

  .site-title-wrapper {
    padding: 20px 0 25px;
  }

  p {
    line-height: 1.4;

    a {
      color: $cBlue;
      transition: .12s all linear;
      white-space: nowrap;

      &:hover {
        color: $cBlueHover;
      }
    }
  }

  .el-form {
    background: $cHighLight;
    border-radius: 4px;
    border: 1px solid $cHighLight;
    margin-left: 0;
    margin-right: 0;
    max-width: 800px;
    padding: 20px;
    width: 100%;

    .el-form-item {
      margin-bottom: 2px;
    }

    label {
      line-height: 1;
      margin-bottom: 5px;
    }

    .el-input {
      height: 34px;

      &__inner {
        height: 34px;
      }
    }

    .button {
      margin-top: 23px;
    }
  }
}
